.Intro{
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    width: 100%;
    .Chemin{
        text-align: left;
        padding: 10px 77px;
        width: 100%;
        a{
            color: $black;
            text-decoration: none;
        }
    }
    .ContenuIntro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 1212px;
        width: 90%;
        .logoTitre{
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                width: 510.72px;
                height: 64px;
                margin-bottom: 10px;
            }
        }
        .GIF{
            width: 100%;
            margin: 32px 0px;
        }
        .description{
            height: 164px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.Bloon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .ContenuBloon{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 58px 0px;
        margin-top: 24px;
        max-width: 555px;
        width: 40%;
        p{
            text-align: center;
            margin: 32px 0px;
        }
        .Picture{
            img{
                margin: 0px 14px;
            }
        }
    }
}

.Presentation{
    .ContenuPresentation{
        display: flex;
        .Explication{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 28%;
            height: 236px;
            padding-top: 72px;
            position: relative;
            right: 150px;
        }
    }
}

.Produit{
    .ContenuProduit{
        .grid{
            display: grid;
            grid-template-columns:repeat(2, 604px);
            justify-content: center;
            width: 100%;
            .droiteP{
                text-align: right;
            }
            .Text{
                padding: 77px;
                h4{
                    margin-bottom: 5px;
                }
                p{
                    margin-bottom: 25px;
                }
                div{
                    p{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

.Articles{
    display: flex;
    justify-content: center;
    .ContenuArticles{
        padding: 60px 0px;
        display: flex;
        flex-direction: column;
        width: 90%;
        h3{
            width: 604px;
            margin-bottom: 27px;
        }
        .slid{
            display: flex;
            width: 90%;
            justify-content: space-between;
            .Canap{
                margin-right:15px;
                .ImgArticle{
                    position: relative;
                    .Like{
                        position: absolute;
                        top: 7px;
                        right: 7px;
                    }
                }
                .descriptionArticle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 125px;
                    margin-top: 4px;
                    position: relative;
                    .panier{
                        position: absolute;
                        right: 15px;
                        top: 8px;
                    }
                }
            }
            .Ballon{
                .descriptionArticle{
                    display: flex;
                    flex-direction: column;
                   align-items: center;
                }
            }
            .prix{
                display: flex;
                p{
                    margin: 0px 7px;
                }
            }
        }
    }
}

.EnSavoirPlus{
    display: flex;
    justify-content: center;
    width: 100%;
    .ContenuESP{
        display: flex;
        justify-content: space-between;
        padding: 40px 40px;
        width: 100%;
        .Info{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 157px;
            margin: 0px 10px;
            span{
                margin: 8px 0px;
                p{
                    width: 176px;
                }
            }
            p{
                text-align: center;
            }
        }
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    .positionOmbre{
        position: relative;
        width: 100%;
        img{
            position: absolute;
            right: 0px;
            width: 100%;
        }
    }
}