.jost400{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.jost600{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.jost700{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

.jost900{
    font-family: 'Jost', sans-serif;
    font-weight: 900;
}

.noto900{
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
}

.font12{
    font-size: 12px;
}

.font16{
    font-size: 16px;
}

.font20{
    font-size: 20px;
}

.font28{
    font-size: 28px;
}

.font31{
    font-size: 31px;
}

.font39{
    font-size: 39px;
}

.lineH16{
    line-height: 16px;
}

.lineH24{
    line-height: 24px;
}

.lineH26{
    line-height: 26px;
}

.lineH35{
    line-height: 35px;
}

.lineH48{
    line-height: 48px;
}

.espaceL1{
    letter-spacing: 1px;
}

.espaceL2{
    letter-spacing: 2px;
}

.under{
    text-decoration: underline;
}

.strike{
    text-decoration: line-through;
}