.jost400 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.jost600 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.jost700 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

.jost900 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
}

.noto900 {
  font-family: "Noto Serif KR", serif;
  font-weight: 900;
}

.font12 {
  font-size: 12px;
}

.font16 {
  font-size: 16px;
}

.font28 {
  font-size: 28px;
}

.font31 {
  font-size: 31px;
}

.font39 {
  font-size: 39px;
}

.lineH16 {
  line-height: 16px;
}

.lineH24 {
  line-height: 24px;
}

.lineH35 {
  line-height: 35px;
}

.lineH48 {
  line-height: 48px;
}

.espaceL2 {
  letter-spacing: 2px;
}

.under {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.Intro {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  width: 100%;
}
.Intro .Chemin {
  text-align: left;
  padding: 10px 77px;
  width: 100%;
}
.Intro .Chemin a {
  color: #0C0C0D;
  text-decoration: none;
}
.Intro .ContenuIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1212px;
  width: 90%;
}
.Intro .ContenuIntro .logoTitre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Intro .ContenuIntro .logoTitre img {
  width: 510.72px;
  height: 64px;
  margin-bottom: 10px;
}
.Intro .ContenuIntro .GIF {
  width: 100%;
  margin: 32px 0px;
}
.Intro .ContenuIntro .description {
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Bloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Bloon .ContenuBloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 0px;
  margin-top: 24px;
  max-width: 555px;
  width: 40%;
}
.Bloon .ContenuBloon p {
  text-align: center;
  margin: 32px 0px;
}
.Bloon .ContenuBloon .Picture img {
  margin: 0px 14px;
}

.Presentation .ContenuPresentation {
  display: flex;
}
.Presentation .ContenuPresentation .Explication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 28%;
  height: 236px;
  padding-top: 72px;
  position: relative;
  right: 150px;
}

.Produit .ContenuProduit .grid {
  display: grid;
  grid-template-columns: repeat(2, 604px);
  justify-content: center;
  width: 100%;
}
.Produit .ContenuProduit .grid .droiteP {
  text-align: right;
}
.Produit .ContenuProduit .grid .Text {
  padding: 77px;
}
.Produit .ContenuProduit .grid .Text h4 {
  margin-bottom: 5px;
}
.Produit .ContenuProduit .grid .Text p {
  margin-bottom: 25px;
}
.Produit .ContenuProduit .grid .Text div p {
  margin-bottom: 0px;
}

.Articles {
  display: flex;
  justify-content: center;
}
.Articles .ContenuArticles {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.Articles .ContenuArticles h3 {
  width: 604px;
  margin-bottom: 27px;
}
.Articles .ContenuArticles .slid {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.Articles .ContenuArticles .slid .Canap {
  margin-right: 15px;
}
.Articles .ContenuArticles .slid .Canap .ImgArticle {
  position: relative;
}
.Articles .ContenuArticles .slid .Canap .ImgArticle .Like {
  position: absolute;
  top: 7px;
  right: 7px;
}
.Articles .ContenuArticles .slid .Canap .descriptionArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  margin-top: 4px;
  position: relative;
}
.Articles .ContenuArticles .slid .Canap .descriptionArticle .panier {
  position: absolute;
  right: 15px;
  top: 8px;
}
.Articles .ContenuArticles .slid .Ballon .descriptionArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Articles .ContenuArticles .slid .prix {
  display: flex;
}
.Articles .ContenuArticles .slid .prix p {
  margin: 0px 7px;
}

.EnSavoirPlus {
  display: flex;
  justify-content: center;
  width: 100%;
}
.EnSavoirPlus .ContenuESP {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  width: 100%;
}
.EnSavoirPlus .ContenuESP .Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 157px;
  margin: 0px 10px;
}
.EnSavoirPlus .ContenuESP .Info span {
  margin: 8px 0px;
}
.EnSavoirPlus .ContenuESP .Info span p {
  width: 176px;
}
.EnSavoirPlus .ContenuESP .Info p {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .positionOmbre {
  position: relative;
  width: 100%;
}
section .positionOmbre img {
  position: absolute;
  right: 0px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
